<a href="https://colab.research.google.com/github/marisbotero/ML/blob/master/Arima_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
df = pd.read_excel("serie.xlsx")

In [0]:
import numpy as np

p_train = 0.80 # Porcentaje de train.

df['is_train'] = np.random.uniform(0, 1, len(df)) <= p_train
train, test = df[df['is_train']==True], df[df['is_train']==False]
df = df.drop('is_train', 1)

print("Ejemplos usados para entrenar: ", len(train))
print("Ejemplos usados para test: ", len(test))

Ejemplos usados para entrenar:  36
Ejemplos usados para test:  7

In [0]:
train.tail()

        Fecha    total  is_train
38 2020-05-09  1126401      True
39 2020-05-10  1126392      True
40 2020-05-11  1126442      True
41 2020-05-12  1124785      True
42 2020-05-13  1123585      True

In [0]:
train.sample(15)

        Fecha    total  is_train
16 2020-04-17  1151854      True
10 2020-04-11  1175906      True
13 2020-04-14  1165895      True
12 2020-04-13  1169946      True
8  2020-04-09  1175891      True
40 2020-05-11  1126442      True
34 2020-05-05  1130524      True
23 2020-04-24  1137952      True
25 2020-04-26  1138033      True
18 2020-04-19  1152283      True
32 2020-05-03  1128479      True
20 2020-04-21  1142656      True
37 2020-05-08  1125591      True
31 2020-05-02  1128553      True
41 2020-05-12  1124785      True

In [0]:
df_comp=train.copy()
df_comp.Fecha = pd.to_datetime(df_comp.Fecha, dayfirst = True)
df_comp.set_index("Fecha", inplace=True)

In [0]:
df_comp.head()

              total  is_train
Fecha
2020-04-01  1189430      True
2020-04-02  1188597      True
2020-04-04  1185944      True
2020-04-05  1185925      True
2020-04-06  1184343      True

In [0]:
df = df_comp

In [0]:

!pip install pmdarima
from pmdarima.arima import auto_arima

Collecting pmdarima
  Downloading https://files.pythonhosted.org/packages/ff/07/7c173cc4fee44ebd62ddf03b3de84c4f151ec23facdf16baf58b8d02784c/pmdarima-1.6.0-cp36-cp36m-manylinux1_x86_64.whl (1.5MB)
     |████████████████████████████████| 1.5MB 3.5MB/s
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (0.22.2.post1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.24.3)
Requirement already satisfied: statsmodels>=0.10.2 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (0.10.2)
Requirement already satisfied: Cython>=0.29 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (0.29.17)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.0.3)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (0.14.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.18.4)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.10.2->pmdarima) (0.5.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pmdarima) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pmdarima) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.0->statsmodels>=0.10.2->pmdarima) (1.12.0)
Installing collected packages: pmdarima
Successfully installed pmdarima-1.6.0

In [0]:
model_auto = auto_arima(df.total, m = 5,
                       max_order = None, max_p = 5, max_q = 5, max_d = 1, max_P = 2, max_Q = 2, max_D = 1,
                       maxiter = 50, alpha = 0.05, information_criterion = 'aic')

/usr/local/lib/python3.6/dist-packages/statsmodels/tsa/statespace/sarimax.py:949: UserWarning:

Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.

/usr/local/lib/python3.6/dist-packages/statsmodels/tsa/statespace/sarimax.py:961: UserWarning:

Non-invertible starting MA parameters found. Using zeros as starting parameters.

In [0]:
model_auto

ARIMA(maxiter=50, method='lbfgs', order=(0, 1, 0), out_of_sample_size=0,
      scoring='mse', scoring_args=None, seasonal_order=(0, 0, 0, 5),
      start_params=None, suppress_warnings=False, trend=None,
      with_intercept=True)

In [0]:
model_auto.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Statespace Model Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   36
Model:               SARIMAX(0, 1, 0)   Log Likelihood                -322.328
Date:                Fri, 15 May 2020   AIC                            648.657
Time:                        22:45:21   BIC                            651.767
Sample:                             0   HQIC                           649.730
                                 - 36
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept  -1881.2857    549.765     -3.422      0.001   -2958.806    -803.766
sigma2      5.844e+06   1.72e+06      3.399      0.001    2.47e+06    9.21e+06
===================================================================================
Ljung-Box (Q):                         nan   Jarque-Bera (JB):                 6.46
Prob(Q):                               nan   Prob(JB):                         0.04
Heteroskedasticity (H):               0.62   Skew:                            -1.03
Prob(H) (two-sided):                  0.42   Kurtosis:                         3.39
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
"""

In [0]:
#Creando el indice del futuro
date = pd.to_datetime("05-14-2020")
date

Timestamp('2020-05-14 00:00:00')

In [0]:
i_date=date + pd.to_timedelta(np.arange(50), 'D')

In [0]:
i_date

DatetimeIndex(['2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17',
               '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
               '2020-05-22', '2020-05-23', '2020-05-24', '2020-05-25',
               '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29',
               '2020-05-30', '2020-05-31', '2020-06-01', '2020-06-02',
               '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-06',
               '2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10',
               '2020-06-11', '2020-06-12', '2020-06-13', '2020-06-14',
               '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18',
               '2020-06-19', '2020-06-20', '2020-06-21', '2020-06-22',
               '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26',
               '2020-06-27', '2020-06-28', '2020-06-29', '2020-06-30',
               '2020-07-01', '2020-07-02'],
              dtype='datetime64[ns]', freq=None)

In [0]:
predictions=model_auto.predict(len(i_date))

In [0]:
df_test = pd.Series(predictions, index=i_date)
df_test.head()

2020-05-14    1.121704e+06
2020-05-15    1.119822e+06
2020-05-16    1.117941e+06
2020-05-17    1.116060e+06
2020-05-18    1.114179e+06
dtype: float64

In [0]:
df_auto_pred = pd.DataFrame({'Predictions': predictions},
                            index = i_date)

In [0]:
df_auto_pred.head(20)

             Predictions
2020-05-14  1.121704e+06
2020-05-15  1.119822e+06
2020-05-16  1.117941e+06
2020-05-17  1.116060e+06
2020-05-18  1.114179e+06
2020-05-19  1.112297e+06
2020-05-20  1.110416e+06
2020-05-21  1.108535e+06
2020-05-22  1.106653e+06
2020-05-23  1.104772e+06
2020-05-24  1.102891e+06
2020-05-25  1.101010e+06
2020-05-26  1.099128e+06
2020-05-27  1.097247e+06
2020-05-28  1.095366e+06
2020-05-29  1.093484e+06
2020-05-30  1.091603e+06
2020-05-31  1.089722e+06
2020-06-01  1.087841e+06
2020-06-02  1.085959e+06