In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [5]:
%config IPCompleter.greedy=True

In [6]:
df = pd.read_csv("E:/ML/datasets/Berkeley.csv")

In [7]:
df.head()

      Admit  Gender Dept  Freq
0  Admitted    Male    A   512
1  Rejected    Male    A   313
2  Admitted  Female    A    89
3  Rejected  Female    A    19
4  Admitted    Male    B   353

In [9]:
df.describe()

             Freq
count   24.000000
mean   188.583333
std    140.063624
min      8.000000
25%     80.000000
50%    170.000000
75%    302.500000
max    512.000000

In [12]:
df.groupby('Gender',as_index=False).count()

   Gender  Admit  Dept  Freq
0  Female     12    12    12
1    Male     12    12    12

## Tools We'll

- Numpy : Multimensional array + Matrices
- Mathematical Functions
- Pandas: Handle data in a way swite to analysis

In [14]:
number =[1,2,3,4,5]
np.mean(number)

3.0

In [15]:
np.median(number)

3.0

In [16]:
np.std(number)

1.4142135623730951

In [17]:
 array = np.array([1, 4, 5, 8], float)

In [18]:
array

array([1., 4., 5., 8.])

In [22]:
def create_dataframe():
    '''
    Create a pandas dataframe called 'olympic_medal_counts_df' containing
    the data from the table of 2014 Sochi winter olympics medal counts.  

    The columns for this dataframe should be called 
    'country_name', 'gold', 'silver', and 'bronze'.  

    There is no need to  specify row indexes for this dataframe 
    (in this case, the rows will automatically be assigned numbered indexes).
    
    You do not need to call the function in your code when running it in the
    browser - the grader will do that automatically when you submit or test it.
    '''
     
   

    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

    # your code here
    data = {'country_name': countries,
            'gold': gold,
            'silver': silver,
            'bronze': bronze}
    olympic_medal_counts_df = DataFrame(data)

    return olympic_medal_counts_df